body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    background: linear-gradient(110deg, #413F26, #192847, #192847, #192847, #123B3C);
}

#messageForm {
    border-radius: 8px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 120px;
    font-size: 32px;
    font-weight: bold;
    color: #1877f2;
    margin-bottom: 100px;
    height: 55px;
    width: auto;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

input {
    background-color: #16233E;
    border: 2px solid #585875;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 18px 16px;
    width: 96%;
    font-size: 16px;
}

#name {
    margin-bottom: 10px;
}

input::placeholder {
    color: #D3D3D3;
}

input[type="password"],
    input[type="text"] {
    background-color: #1E1F28;
    border: 1px solid #2F313D;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 45px 12px 16px;
    width: 96%;
    font-size: 16px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #A0A0A0;
    font-size: 14px;
}

.login-btn {
    width: 96%;
    padding: 13px;
    background: #2682FF;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.forgot-password {
    display: block;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.create-btn {
    width: 90%;
    padding: 10px 0px;
    background: none;
    border: 2px solid #2682FF;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 95px;
    align-self: center;
}

.create-acct {
    color: #2682FF;
    text-decoration: none;
}

#status {
    color: red;
}

#status2 {
    color: white;
}

.metaLogo {
    margin-top: 12px;
    height: 15px;
    width: auto;
}